<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.absolutelayout"
        version="1.0">

  <name>CordovaAbsoluteLayoutPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <platform name="swt">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaAbsoluteLayoutPlugin">
        <param name="android-package" value="com.ashera.absolutelayout.CordovaAbsoluteLayoutPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start src -->
     <source-file src="src/main/java/com/ashera/absolutelayout/AbsoluteLayoutImpl.java" target-dir="src/main/java/com/ashera/absolutelayout"/>
     <source-file src="src/main/java/com/ashera/absolutelayout/AbsoluteLayoutPlugin.java" target-dir="src/main/java/com/ashera/absolutelayout"/>
     <source-file src="src/main/java/com/ashera/absolutelayout/CordovaAbsoluteLayoutPlugin.java" target-dir="src/main/java/com/ashera/absolutelayout"/>
     <source-file src="src/main/java/r/android/widget/AbsoluteLayout.java" target-dir="src/main/java/r/android/widget"/>
     <source-file src="src/test/java/readme.txt" target-dir="src/test/java"/>
     <!-- src end -->
     <!-- start res -->

     <!-- res end -->
     <!-- start tsc -->
     <source-file src="tsc/src/swt/widget/AbsoluteLayoutImpl.ts" target-dir="tsc/src/swt/widget"/>
     <!-- tsc end -->
  </platform>


</plugin>